head
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )
  meta(name="description" content=site.subtitle)
  title= site.title
  link(
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous"
  )
  link(
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/themes/prism.css"
    rel="stylesheet"
  )

  //- Google Analytics
  if (analytics.ga)
    script(async src="https://www.googletagmanager.com/gtag/js?id=" + analytics.ga)
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', '#{analytics.ga}');

